/* global element */
body{
    background-color: #111B24;
}
.bold{
    font-weight: 1000;
}
.poppins{
    font-family: 'Poppins',sans-serif;
}
.inter{
    font-family: 'Inter',sans-serif;
}
.white{
    color: white;
}
.green{
    color: #00EAC7;
    ;
}
.gray{
    color: #727272E5;
}
a{
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: 'Ravensara Antiqua';
    src: url(../fonts/RavensaraAntiquaStencil-Bold.ttf);
}


/* header */
.header_container{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    
    height: 15vh;
    background-color: #111B24;

    z-index: 10;
}
    .header_macera{
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        flex-basis: 20%;
        margin-left: 4vw;
        margin-top: vw;
        font-family: 'Ravensara Antiqua', sans-serif ;
        font-weight: bolder;
        font-size: 30px;
        color: #00EAC7;
    }
    .header_navbar{
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        justify-content: center;

        text-align: center;
        
    }
        .navbar_list{
            display: flex;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .home,.trips,.hotels,.shareX{
            margin-left: 3vw;
            margin-right: 3vw;
            font-size: 1.6vw;
            text-align: center;
        }
            .home{
                flex-basis: 25%;
                flex-grow: 0;
            }
            .trips{
                flex-basis: 25%;
                flex-grow: 0;
            }
            .hotels{
                flex-basis: 25%;
                flex-grow: 0;
            }
            .shareX{
                flex-basis: 25%;
                flex-grow: 0;
            }
    .header_signin{
        display: flex;
        justify-content: center;
        flex-basis: 25%;
    }
        .center_customer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 30%;
        }
            .header_signin img{
                width: 5vw;
                height: 5vh;
            }
        .sign_in_container{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #00EAC7;
            flex-basis: 70%;
            cursor: pointer;
           
            margin-top: 4vh;
            margin-bottom: 4.5vh;
            margin-right: 4vw;
            border-radius: 1vw;
        }
            .sign_in{
                font-size: 1.6vw;
            }
/*  title   */
.title_container{
    margin-top: 20vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 2vh;
    font-size: 4.3vw;
    align-items: center;
}
/*  banner img  */
.banner_container{
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
    margin-top: 5vh;
    height: 60vh;
    background-image: url("../asset/Tips1Image.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vw;
}
/*  content */
.content_container{
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 2vh;
    margin-top: 5vh;
}
    .content_cover{
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
        .title{
            font-size: 2.5vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
        .content{
            font-size: 1.8vw;
            margin-bottom: 2vh;
        }
/*  Footer  */
.footer_container{
    display: flex;
    margin-top: 10vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 10vh;
}
    .footer_subcontainer1,.footer_subcontainer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer_subcontainer1{
        flex-basis: 40%;
        text-align: start;
        margin-right: 5vw;
    }
        .footer_macera{
            font-size: 5vw;
            font-family: 'Ravensara Antiqua',sans-serifs;
            margin-bottom: 1.8vw;
        }
        .footer_content{
            font-size: 1.3vw;
        }
    .footer_subcontainer2{
        flex-basis: 60%;
    }
        .footer_subcontainer2_up{
            display: flex;
            flex-direction: row;
        }
            .footer_info{
                display: flex;
                flex-direction: column;
                line-height: 1;
                margin-left: 2vw;
                margin-right: 2vw;
                flex-basis: 25%;
                margin-top: 5vh;
            }
                .info{
                    font-size: 1.5vw;
                }
                .info_down{
                    font-size: 1.1vw;
                    line-height: 2;
                    font-weight: lighter;
                }

        .footer_subcontainer2_down{
            display: flex;
            margin-left: 2vw;
        }
            img[alt="copyright"]{
                width: 25vw;
                height: 2vw;
                margin-top: 1.8vw;
            }